
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

body {

	background-color:white;
}

.ui.card {
	position: absolute;
	left: 5%;
	top: 2em;
}